@import url("./reset.css");

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #292929;
    line-height: 140%; /* 22.4px */
}

h1 {
    margin-top: 40px;
    max-width: 498px;
    font-size: 48px;
    font-style: italic;
    font-weight: 800;
    line-height: 100%; /* 48px */
    letter-spacing: -1.5px;
}

/* #region header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 64px 120px;
    background-image: url("./images/header-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__top {
    display: flex;
    justify-content: space-between;
}
/* #endregion */

/* #region menu */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.5s;
    height: 100vh;
    padding: 64px 120px;
    background-color: #E8EFF9;
}

.menu:target {
    transform: translateX(0);
}

.menu__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}
/* #endregion */

/* #region nav */
.nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.nav__link {
    font-weight: bold;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
}

.nav__link:hover {
    text-decoration: underline;
}
/* #endregion */

.main {
    padding: 0 120px;
    background-color: white;
}

.main section {
    margin-top: 120px;
}

/* #region recommended */

.main__title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px; /* 100% */
    letter-spacing: -1.5px;
}

.how-to-buy__title {
    text-align: left;
}

.recommended__products {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.recommended__name {
    margin: 32px 0 8px;
    font-weight: 700;
}

.recommended__price {
    margin-top: 12px;
    font-weight: 700;}
/* #endregion */