/* #region page */
@import url("./reset.css");

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: white;
    color: #292929;
    line-height: 140%; /* 22.4px */
}

h1 {
    margin-top: 40px;
    font-size: 48px;
    font-style: italic;
    font-weight: 800;
    line-height: 100%; /* 48px */
    letter-spacing: -1.5px;
}
/* #endregion */

/* #region header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 64px 120px;
    background-image: url("./images/header-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__top {
    display: flex;
    justify-content: space-between;
}
/* #endregion */

/* #region menu */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.5s;
    z-index: 20;
    height: 100vh;
    padding: 64px 120px;
    background-color: #E8EFF9;
}

.menu-icon {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.hover-burger-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.menu-icon:hover .hover-burger-menu {
    display: inline;
}

.menu-icon:hover .burger-menu {
    display: none;
}

.menu:target {
    transform: translateX(0);
}

.menu__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}
/* #endregion */

/* #region nav */
.nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.nav__link a {
    position: relative;
    padding: 10px 0;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
}

.nav__link a::after {
    position: absolute;
    left: 0;
    bottom: 6px;
    content: '';
    height: 2px;
    width: 0;
    background-color: #292929;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    visibility: hidden;
}

.nav__link a:hover::after {
    width: 100%;
    visibility: visible;
    transform: scaleX(1);
}
/* #endregion */

/* #region main */
.main {
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding: 120px;
    background-color: white;
}

.main__title {
    margin-bottom: 64px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px; /* 100% */
    letter-spacing: -1.5px;
}
/* #endregion */

/* #region recommended */
.how-to-buy__title {
    text-align: left;
}

.recommended__products {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.recommended__product {
    flex-basis: 324px;
}

.recommended__name {
    margin: 32px 0 8px;
    font-weight: 700;
}

.recommended__price {
    margin-top: 12px;
    font-weight: 700;}
/* #endregion */

/* #region categories */
.categories {
    max-width: 1020px;
    margin: 0 auto;
}

.category + .category {
    margin-top: 64px;
}

.category__photos {
    display: flex;
    gap: 3%;
}

.photo-wide {
    width: 65%;
}

.photo-square {
    width: 32%;
}

.category__title {
    margin-top: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
}
/* #endregion */

/* #region how-to-buy */
.how-to-buy {
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
}

.how-to-buy__title {
    flex-basis: 50%;
}

.how-to-buy__content {
    flex-basis: 50%;
}

.how-to-buy__benefits {
    margin-bottom: 40px;
}

.benefit {
    margin-bottom: 16px;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
}

.how-to-buy__description {
    line-height: 27px; /* 168.75% */
}
/* #endregion */

/* #region footer */
.footer {
    /* position: sticky;
    bottom: 0;
    z-index: -1; */
    height: 460px;
    background-image: url("./images/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* #endregion */


/* #region Responsiveness */
/* #region tablet devices */
@media (max-width: 744px) {
    h1, .main__title {
        font-size: 40px;
    }

    .header {
        padding: 64px 72px 40px;
    }

    .menu {
        padding: 64px 72px;
    }

    .main {
        padding: 120px 72px;
    }

    .recommended__products {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .recommended__product img {
        width: 392px;
    }

    .categories .main__title {
        margin-top: 8px;
    }

    .footer {
        height: 400px;
    }
}

@media (max-width: 560px) {
    .header, .menu {
        padding: 24px 20px;
    }

    .main {
        padding: 60px 20px;
    }

    .how-to-buy {
        flex-direction: column;
        gap: unset;
    }

    .how-to-buy__title {
        margin-bottom: 32px;
    }
}
/* #endregion */

/* #region small devices */
@media (max-width: 425px) {
    h1, .main__title {
        font-size: 32px;
    }

    .recommended__product img {
        width: 280px;
    }

    .categories .main__title {
        margin-top: 0;
    }

    .category__photos {
        gap: 6%;
    }

    .photo-wide, .photo-square {
        width: 47%;
    }

    .photo-wide {
        object-fit: cover;
    }
    .footer {
        height: 200px;
    }
}
/* #endregion */

/* #endregion */
